
.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.subsection {
  border: 2px solid black;
  margin: 20px;
}

#playerImage {
  max-width: 300px;
  max-height: 300px;
}
.col-md-6 {
  padding: 5px;
}

.buttonsDisplay {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.btn {
  margin: 3px auto;
}